@{ 
    Layout = MVC.Views.Shared._FrontLayout;
}
<div style="min-height: 30%; background-image: url('/Content/Front/images/campus1.jpg');">
</div>
<div class="container banner_content padd_bot">
    <div class="col-md-12 col-sm-12 col-xs-12 main_sebnr mob_padd">
        <div class="col-md-8 col-sm-8 col-xs-12 mob_padd">
            <div class="col-md-12 col-sm-12 col-xs-12 no_padd">
                <div class="col-md-12 col-sm-12 col-xs-12 bor_dtr no_padd">
                    <div class="col-md-12 col-sm-12 col-xs-12 no_padd">
                        <p class="dtail_sub2"><span class="dlig1">ABOUT US</span></p>

                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 no_padd abt_cont">

                    Institute of Human Resources Development (IHRD) is an autonomous educational institution established by the  Government of Kerala in 1987. The institute is registered under The Travancore – Cochin Literary, Scientific and Charitable societies registrations Act 12 of 1955. The management of the institute is vested with a Governing Body composed of with the Hon’ble Minister of  Education, Kerala State, as  the Chairman and Additional Chief Secretary, Higher Education Department, Government of Kerala as the Vice-Chairman.
                    Institute of Human Resources Development is dedicated to the scientific advancement, technological progress and economic growth of the country through human resources development. Based on the principle, "Think Globaly and Act Locally" it endeavours to bring about the welfare of the nation. It endeavours to provide education and training of consistently high stands through innovative and versatile programmes suitable for  the current and emerging needs of the community.
                    The Government of  Kerala  has  approved  IHRD as a Total  Solution  Provider ( TSP ) for Computerization  of   Government  Departments ( Ref: G.O.(MS) No.62/99/ITD dt. 22..04..1999 ).College of Applied Science, Puthuppally is affiliated to Mahatma Gandhi  University and is established in 1993 with regular courses in  B.Sc (Computer Sciences), BSc (Electronics), and B.Com with Computer Applications.

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 no_padd abt_cont tp_bt_br">


                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 no_padd">
            <div class="col-md-12 col-sm-12 col-xs-12 no_padd">

            </div>


        </div>

    </div>
</div>